<div class="jumbotron">
  <div class="top-title">
    <h1 class="text-center">
      アプリタイトル
    </h1>
  </div>

  <div class="top-authentication text-center">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "アカウントを作成する", "#", class: "btn-primary" %>
    </div>
    <div class="top-authentication__sign-in-btn m-3">
      <%= link_to "ログイン", "#", class: "btn-primary" %>
    </div>
  </div>
</div>
