<%= render partial: "shared/theader" %>
  <div class="top-title">
    <h1 class="text-white text-center">
      サービス概要
    </h1>
    <ul class="service_content text-white">
      完全匿名性のチャットアプリとなっております。<br>
      そのため、使用者は自由になんでも発言することができます。<br>
      各々の好きなように当アプリをご利用ください。
    </ul>
  </div>
</div>