<div class="jumbotron">
  <div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white">Spill Out</a>
      <div class="navbar__sign-in-up-btn">
        <%= link_to "ログイン", new_user_session_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %>
        <%= link_to "アカウント作成", new_user_registration_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %>
      </div>
    </nav>
  </div>

  <div class="top-title">
    <h1 class="text-white text-center">
      サービス概要(予定)
      →使用方法など
    </h1>
  </div>
</div>