<footer class="fixed-bottom">
  <ul class="footer-menu">
    <li>
      <%= link_to"お問い合わせ ｜",
      "https://docs.google.com/forms/d/e/1FAIpQLSdFmRizcDWSIunvD6xsyCQqAxIThrRudRHSB4mKmXEZI4MPpA/viewform?embedded=true",
      class: "text-dark",
      target: "_blank",
      rel: "noopener" %>
    </li>
    <li>
      <%= link_to"利用規約 ｜", tos_path ,class: "text-dark" %>
    </li>
    <li>
      <%= link_to"プライバシーポリシー", privacy_path, class: "text-dark" %>
    </li>
    </ul>
    <p>© All rights reserved by spill out.</p>
  </footer>