  <header class="header sticky-top" id="header">
    <div class="header-container">
      <div class="container-small">
        <a>
          <h1>Spill Out</h1>
        </a>
        <button type="button" class="headC">
          <span class="fa fa-bars" title="MEMU"></span><span class="sr-only">MEMU</span>
        </button>
      </div>
      <nav class="headB">
        <ul>
          <li>
            <%= link_to "log in", new_user_session_path %>
          </li>
          <li>
            <%= link_to "create account", new_user_registration_path %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<script type= "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script>
<script nomodule src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" ></script>
<script src="https://use.fontawesome.com/926fe18a63.js"></script>
  <script>
    $(function () {
      $(".headC").click(function () {
        $(".headB").slideToggle();
      });
    });
  </script>