<div class="top-authentication__sign-in-btn m-3">
  <%= link_to 'チャットルームへ', chat_rooms_path, data: { turbo_method: :post }, class: "btn-primary" %>
</div>

<div class="top-authentication__sign-in-btn m-3">
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete },class: "btn-primary" %>
</div>
<div id="d2">&nbsp;</div>
<script>
setInterval(function() {
  document.getElementById("d2").innerHTML = new Date().toLocaleString();
}, 1000);
</script>