<div class="privacy-policy">
  <section>
    <p class="" style="text-align: right;">制定日:2025年7月21日</p>
    <h1 class="text-center">プライバシーポリシー</h1>
    <h2 class="section-title">????</h2>
    <ol class="policy-list">
      <li>
        ???
      </li>
      <li>
        ???
      </li>
      <li>
        ???
      </li>
    </ol>
  </section>
</div>