<div class="privacy-policy">
  <section>
    <p class="" style="text-align: right;">制定日:2025年7月21日</p>
    <h1 class="text-center">利用規約</h1>
    <h2 class="section-title">第1条（適用）</h2>
    <ol class="policy-list">
      <li>
        本規約は、ユーザーと本サービスの利用に関わる一切の関係に適用されるものとします。
      </li>
      <li>
        当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。
      </li>
      <li>
        本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。
      </li>
    </ol>
  </section>
</div>