<div class="privacy-policy">
  <section>
    <p class="" style="text-align: right;">制定日：2025年7月31日</p>
    <h1 class="text-center">利用規約</h1>

    <h2 class="section-title">1. 適用</h2>
    <p>
      本利用規約（以下「本規約」といいます。）は、Spill Out（以下「当サービス」といいます。）の利用に関する条件を定めるものです。
      ユーザー（以下「ユーザー」といいます。）は、本規約に同意したうえで当サービスを利用するものとします。
    </p>

    <h2 class="section-title">2. 利用登録</h2>
    <ol class="policy-list">
      <li>当サービスの利用を希望する者は、本規約に同意の上、所定の方法で利用登録を申請するものとします。</li>
      <li>運営者は、申請者に対し、登録を拒否できるものとします。</li>
    </ol>

    <h2 class="section-title">3. 禁止事項</h2>
    <p>ユーザーは、当サービスの利用にあたり、以下の行為を行ってはなりません。</p>
    <ol class="policy-list">
      <li>他人への誹謗中傷、差別、嫌がらせ行為</li>
      <li>違法行為、またはその助長</li>
      <li>スパム行為、なりすまし、不正アクセス</li>
      <li>サービス運営を妨げる行為</li>
      <li>その他、運営者が不適切と判断する行為</li>
    </ol>

    <h2 class="section-title">4. サービスの提供の停止</h2>
    <ol class="policy-list">
      <li>以下の事由がある場合、当サービスの全部または一部を停止または中断できるものとします。</li>
      <ul>
        <li>システム保守、アップデート</li>
        <li>自然災害などの不可抗力</li>
        <li>その他、運営上の必要があると判断された場合</li>
      </ul>
    </ol>

    <h2 class="section-title">5. 退会および利用制限</h2>
    <ol class="policy-list">
      <li>ユーザーは、所定の手続により、いつでも退会できます。</li>
      <li>運営者は、本規約に違反したユーザーに対して、利用停止や登録抹消を行うことができます。</li>
    </ol>

    <h2 class="section-title">6. 免責事項</h2>
    <ol class="policy-list">
      <li>当サービスに投稿された内容に関する責任は負いません。</li>
      <li>ユーザー間または第三者との間に生じたトラブルについて責任を負いません。</li>
      <li>当サービスの利用によって生じた損害に関して、一切責任を負いません。</li>
    </ol>

    <h2 class="section-title">7. 規約の変更</h2>
    <p>
      運営者は、本規約をユーザーへの通知なく変更できるものとします。変更後の規約は、当サービスに掲示された時点より効力を生じるものとします。
    </p>

    <h2 class="section-title">8. 準拠法・管轄</h2>
    <p>
      本規約は日本法に準拠し、当サービスに関して生じた紛争については、運営者の所在地を管轄する裁判所を専属的合意管轄とします。
    </p>
  </section>
</div>