#chat-bot-container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 80%;
  width: fit-content;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.message.user {
  margin-left: auto;
  background-color: #e1f5fe;
}

.message p {
  margin: 0;
  word-wrap: break-word;
}

#message-form {
  padding: 20px;
  background-color: #ffffff;
}

#chat-message-form {
  display: flex;
  align-items: center;
}

#message_input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"][formaction="/bot_messages/clear"] {
  background-color: #f44336;
  margin-left: 10px;
}